body{
    /*lesson 4*/
background-image: url("Ulpu.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

}
h1{
    font-family: "Sigmar";
    /* Lesson 3 */
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style:double;
    border-left-width: 10px;
    border-left-color: silver; 

    /* Lesson 4*/
    background: linear-gradient(to left, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Lesson 9 */
    text-shadow: 2px -2px 5px yellow, 0px -5px 5px red;
   
}
p{
    background-color: gray;
    color: white;
    /* Lesson 2 */
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 18px;

    /* Lesson 3 */
    border-style:outset;
    border-width:5px;
    border-color: gold;
    border-radius:10px;
    padding:5px;

    /* Lesson 4*/
    background: linear-gradient(to right, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#p1{
    color:turquoise;
}
.skib{
    color: red;
}
.gay{
    color:blanchedalmond;
}

/* Lesson 5*/
#box1{
    border: 5px solid;
    width: 250px;
    height: 200px;
    font-size: 20px;
    background-color: greenyellow;
    margin: 8px;
    margin-left: auto;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 200px;
    font-size: 20px;
    background-color: dodgerblue;
    margin-right: auto;

}
#box3{
    border: 5px solid;
    width: 250px;
    height: 200px;
    font-size: 20px;
    background-color: tomato;
    margin-left: 50%;
}
table{
    border: 1px solid;
    background-color: darkgoldenrod;
}
h1:hover{
    box-shadow: 5px 5px 5px black;
}

